<app-navbar></app-navbar>

<div class="container-fluid customForm">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="card card-box">
        <div class="card-head">
          <header>Saisi bon d'enlèvement</header>
          <button
            id="panel-button3"
            class="mdl-button mdl-js-button mdl-button--icon pull-right"
            data-upgraded=",MaterialButton"
          >
            <i class="material-icons">more_vert</i>
          </button>
          <ul
            class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
            data-mdl-for="panel-button3"
          >
            <li class="mdl-menu__item">
              <i class="material-icons">assistant_photo</i>Action
            </li>
            <li class="mdl-menu__item">
              <i class="material-icons">print</i>Another action
            </li>
            <li class="mdl-menu__item">
              <i class="material-icons">favorite</i>Something else here
            </li>
          </ul>
        </div>
        <div class="card-body " id="bar-parent2">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label>Numéro du bon</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter ..."
                  id="numBon"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Donneur d'ordre</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter ..."
                  id="DonneurOrdre"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group ">
                <label>Date d'enlevement souhaitée</label>
                <div
                  class="input-append date"
                  id="dp3"
                  data-date="12-02-2012"
                  data-date-format="dd-mm-yyyy"
                >
                  <input
                    size="30"
                    type="text"
                    readonly=""
                    id="DateEnlv"
                  />&nbsp;
                  <span class="add-on"
                    ><i class="fa fa-calendar icon-th"></i
                  ></span>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label"
                  >Heure d'enlevement souhaitée</label
                >
                <div
                  class="input-append date "
                  time-time-format="HH MM yyyy"
                  data-date="2013-02-21T15:25:00Z"
                >
                  <input
                    size="300"
                    type="time"
                    id="appt"
                    name="appt"
                    required
                    width="350px"
                    id="HeureEnlv"
                  />
                  &nbsp;

                  <span class="add-on"><i class="fa fa-clock-o"></i></span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <label>Expéditeur </label>
              <select class="form-control" id="select2" id="Expediteur">
                <option value="Zodiac equipement Tunisie"
                  >Zodiac equipement Tunisie</option
                >
                <option value="Zodiac seats tunisie"
                  >Zodiac seats tunisie</option
                >
                <option value="Zodiac seats tunisie"
                  >Zodiac seats tunisie</option
                >
                <option value="Zodiac seats tunisie"
                  >Zodiac seats tunisie</option
                >
                <option value="Zodiac seats tunisie"
                  >Zodiac seats tunisie</option
                >
                <option value="Zodiac seats tunisie"
                  >Zodiac seats tunisie</option
                >
                <option value="Zodiac seats tunisie"
                  >Zodiac seats tunisie</option
                >
              </select>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Adresse expéditeur 1</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter ..."
                  id="Adr1Expediteur"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Adresse expéditeur 2</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter ..."
                  id="Adr2Expediteur"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Adresse expéditeur 3</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter ..."
                  id="Adr3Expediteur"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1">
              <div class="form-group">
                <label>Dept</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter ..."
                  id="Dept"
                />
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Ville</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter ..."
                  id="Ville"
                />
              </div>
            </div>
            <div class="col-md-1">
              <div class="form-group">
                <label>Pays</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter ..."
                  id="Pays"
                />
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>CP</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter ..."
                  id="CP"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Tél</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter ..."
                  id="Tel"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Email</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter ..."
                  id="Email"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label>Destinataire </label>
              <select class="form-control" id="Destinataire">
                <option value="1">Zodiac equipement Tunisie</option>
                <option value="2">Zodiac equipement France</option>
                <option value="3">Zodiac seats tunisie</option>
                <option value="4">Zodiac seats tunisie</option>
                <option value="5">Zodiac seats tunisie</option>
                <option value="6">Zodiac seats tunisie</option>
                <option value="7">Zodiac seats tunisie</option>
              </select>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Adresse destinataire 1</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter ..."
                  id="Adr1Destinataire"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Adresse destinataire 2</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter ..."
                  id="Adr2Destinataire"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Adresse destinataire 3</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter ..."
                  id="Adr3Destinataire"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="container-fluid">
                <div class="row">
                  <div class="form-group">
                    <label class="control-label"
                      >Date de livraison souhaitée</label
                    >
                    <div
                      class="input-append date form_date"
                      data-date-format="dd MM yyyy"
                      data-date="2013-02-21T15:25:00Z"
                    >
                      <input
                        size="30"
                        type="text"
                        value=""
                        readonly=""
                        id="DateLiv"
                      />
                      &nbsp;
                      <span class="add-on"
                        ><i class="fa fa-remove icon-remove"></i
                      ></span>
                      <span class="add-on"><i class="fa fa-calendar"></i></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <label class="control-label"
                      >Heure de livraison souhaitée</label
                    >
                    <div
                      class="input-append date "
                      data-date-format="dd MM yyyy"
                      data-date="2013-02-21T15:25:00Z"
                    >
                      <input
                        size="300"
                        type="time"
                        id="appt"
                        name="appt"
                        required
                        width="350px"
                        id="HeureLiv"
                      />
                      &nbsp;

                      <span class="add-on"><i class="fa fa-clock-o"></i></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label>Commentaire 1</label>
                <textarea
                  class="form-control"
                  rows="5"
                  placeholder="Enter ..."
                  id="Comment1"
                ></textarea>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Commentaire 2</label>
                <textarea
                  class="form-control"
                  rows="5"
                  placeholder="Enter ..."
                  id="Comment2"
                ></textarea>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Commentaire 3</label>
                <textarea
                  class="form-control"
                  rows="5"
                  placeholder="Enter ..."
                  id="Comment3"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 40px;">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <button
                class="btn btn-danger"
                style="width: 100%;"
                (click)="sendMAil()"
              >
                Réinitialiser
              </button>
              <button class="btn btn-success" (click)="testbon()">ok</button>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-colisage></app-colisage>
    </div>
  </div>
</div>
