<app-navbar></app-navbar>

<!-- start page content -->
<div class="container-fluid customImport">
  <div class="page-content">
    <!--<div class="page-bar">
      <div class="page-title-breadcrumb">
        <div class="pull-left">
          <div class="page-title">Import Aérien</div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
          <li>
            <i class="fa fa-home"></i>&nbsp;<a
              class="parent-item"
              href="index.html"
              >Home</a
            >&nbsp;<i class="fa fa-angle-right"></i>
          </li>
          <li>
            <a class="parent-item" href="">Data Tables</a>&nbsp;<i
              class="fa fa-angle-right"
            ></i>
          </li>
          <li class="active">Export Table</li>
        </ol>
      </div>
    </div>-->
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="card  card-topline-aqua">
          <div class="card-head">
            <header>Configuration Mail</header>
            <button
              id="panel-button"
              class="mdl-button mdl-js-button mdl-button--icon pull-right"
              data-upgraded=",MaterialButton"
            >
              <i class="material-icons">more_vert</i>
            </button>
            <ul
              class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
              data-mdl-for="panel-button"
            >
              <li class="mdl-menu__item">
                <i class="material-icons">assistant_photo</i>Action
              </li>
              <li class="mdl-menu__item">
                <i class="material-icons">print</i>Another action
              </li>
              <li class="mdl-menu__item">
                <i class="material-icons">favorite</i>Something else here
              </li>
            </ul>
          </div>

          <div class="card-body " id="showMe" style=""></div>
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>SMTP</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter ..."
                    id="numBon"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>PORT</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter ..."
                    id="DonneurOrdre"
                  />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Expéditeur</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter ..."
                    id="numBon"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Mot de passe</label>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Enter ..."
                    id="DonneurOrdre"
                  />
                </div>
              </div>
            </div>
            <div class="row" style="margin-bottom: 3%;">
              <div class="col-md-6">
                <button class="btn btn-success" style="margin-left:85%">
                  Modifier
                </button>
              </div>
              <div class="col-md-6">
                <button class="btn btn-danger">Annuler</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end page content -->
<!-- start chat sidebar -->

<!-- end chat sidebar -->

<!-- end page container -->

<!-- Data Table -->
