<app-navbar></app-navbar>
<div class="container-fluid custom">
  <div class="row">
    <div class="col">
      <div class="card  card-topline-aqua">
        <div class="card-head">
          <header>Profil Utilisateur</header>
          <button
            id="panel-button"
            class="mdl-button mdl-js-button mdl-button--icon pull-right"
            data-upgraded=",MaterialButton"
          >
            <i class="material-icons">more_vert</i>
          </button>
          <ul
            class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
            data-mdl-for="panel-button"
          >
            <li class="mdl-menu__item">
              <i class="material-icons">assistant_photo</i>Action
            </li>
            <li class="mdl-menu__item">
              <i class="material-icons">print</i>Another action
            </li>
            <li class="mdl-menu__item">
              <i class="material-icons">favorite</i>Something else here
            </li>
          </ul>
        </div>
        <div class="card-body ">
          <div class="ng-container">
            <div class="row pt-3">
              <div class="col-md-6 col-sm-6">
                <div class="form-group">
                  <label>Code Client </label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter ..."
                  />
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="form-group">
                  <label>Utilisateur </label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter ..."
                  />
                </div>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-md-6 col-sm-6">
                <div class="form-group">
                  <label>Ancien mot de passe</label>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Enter ..."
                  />
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="form-group">
                  <label>Nouveau mot de passe</label>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Enter ..."
                  />
                </div>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col">
                <button class="btn btn-success float-right">Valider</button>
              </div>
              <div class="col">
                <button class="btn btn-danger">Annuler</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
