<app-navbar></app-navbar>

<!-- start page content -->
<div class="container-fluid customImport">
  <div class="page-content">
    <!--<div class="page-bar">
      <div class="page-title-breadcrumb">
        <div class="pull-left">
          <div class="page-title">Import Aérien</div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
          <li>
            <i class="fa fa-home"></i>&nbsp;<a
              class="parent-item"
              href="index.html"
              >Home</a
            >&nbsp;<i class="fa fa-angle-right"></i>
          </li>
          <li>
            <a class="parent-item" href="">Data Tables</a>&nbsp;<i
              class="fa fa-angle-right"
            ></i>
          </li>
          <li class="active">Export Table</li>
        </ol>
      </div>
    </div>-->
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="card  card-topline-aqua">
          <div class="card-head">
            <header>LISTE DES DOSSIERS</header>
            <button
              id="panel-button"
              class="mdl-button mdl-js-button mdl-button--icon pull-right"
              data-upgraded=",MaterialButton"
            >
              <i class="material-icons">more_vert</i>
            </button>
            <ul
              class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
              data-mdl-for="panel-button"
            >
              <li class="mdl-menu__item">
                <i class="material-icons">assistant_photo</i>Action
              </li>
              <li class="mdl-menu__item">
                <i class="material-icons">print</i>Another action
              </li>
              <li class="mdl-menu__item">
                <i class="material-icons">favorite</i>Something else here
              </li>
            </ul>
          </div>
          <img
            src="../../assets/img/loading/load.gif"
            style="width: 50px;"
            id="hideMe"
          />
          <div class="card-body " id="showMe">
            <div class="ng-container">
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <table id="exportTable" style="width:100%">
                    <thead>
                      <tr>
                        <th>Num Dossier</th>
                        <th>Expéditeur</th>
                        <th>Destinataire</th>
                        <th>Point de Sortie</th>
                        <th>Point d'entrée</th>
                        <th>Date d'enlèvement</th>
                        <th>Date de livraison</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let exp of ListImport">
                        <td>
                          {{ exp.DOS_LIGNE }}{{ exp.DOS_ACTI }}{{ exp.DOS_TYPE
                          }}{{ exp.DOS_NUM }}
                        </td>
                        <td>{{ exp.DOS_NOMCLI }}</td>
                        <td>{{ exp.DOS_AD1DES }}</td>
                        <td>{{ exp.DOS_DEPART }}</td>
                        <td>{{ exp.DOS_ARRIVEE }}</td>
                        <td>{{ exp.ADR1DESTINATAIRE }}</td>
                        <td>{{ exp.DATELIV }}</td>
                        <td>
                          <button
                            _ngcontent-qng-c3=""
                            class="btn btn-primary btn-xs"
                            data-toggle="modal"
                            data-target=".bd-example-modal-lg"
                          >
                            <i
                              class="fa fa-file"
                              aria-hidden="true"
                            ></i></button
                          >&nbsp;
                          <button
                            _ngcontent-qng-c3=""
                            class="btn btn-success btn-xs"
                            data-toggle="modal"
                            data-target=".bd-SUIVIDOSSIER-modal-lg"
                          >
                            <i
                              class="fa fa-plane"
                              aria-hidden="true"
                            ></i></button
                          >&nbsp;
                          <button
                            _ngcontent-qng-c3=""
                            class="btn btn-danger btn-xs"
                          >
                            <i
                              class="fa fa-upload"
                              aria-hidden="true"
                            ></i></button
                          >&nbsp;
                          <button
                            _ngcontent-qng-c3=""
                            class="btn btn-warning btn-xs"
                          >
                            <i class="fa fa-download" aria-hidden="true"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>Num Dossier</th>
                        <th>Expéditeur</th>
                        <th>Destinataire</th>
                        <th>Point de Sortie</th>
                        <th>Point d'entrée</th>
                        <th>Date d'enlèvement</th>
                        <th>Date de livraison</th>
                        <th>#</th>
                      </tr>
                    </tfoot>
                  </table>
                  <button class="btn btn-warning" (click)="test()">test</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end page content -->
<!-- start chat sidebar -->

<!-- end chat sidebar -->

<!-- end page container -->

<!-- Data Table -->

<!-- Modal -->

<div
  class="modal fade bd-example-modal-lg"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">DÉTAILS DOSSIER</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col">
          <div class="card card-topline-green">
            <div class="card-head">
              <header>Informations</header>
              <div class="tools">
                <a
                  class="fa fa-repeat btn-color box-refresh"
                  href="javascript:;"
                ></a>
                <a
                  class="t-collapse btn-color fa fa-chevron-down"
                  href="javascript:;"
                ></a>
                <a
                  class="t-close btn-color fa fa-times"
                  href="javascript:;"
                ></a>
              </div>
            </div>

            <div class="card-body ">
              <div class="table-scrollable">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>Numéro du dossier</td>
                      <td>35AI800103</td>
                    </tr>
                    <tr>
                      <td>Expéditeur</td>
                      <td>ZODIAC SEATS FRANCE</td>
                    </tr>
                    <tr>
                      <td>Adresse expéditeur</td>
                      <td>RUE ROBERT MARECHAL SENIOR ZI LA LIMOISE 36100</td>
                    </tr>
                    <tr>
                      <td>Destinataire</td>
                      <td>ZODIAC SEATS TUNISIE</td>
                    </tr>
                    <tr>
                      <td>Adresse destinataire</td>
                      <td>ROUTE DE TUNIS KM 6 EL DHARI BP 224 8020</td>
                    </tr>
                    <tr>
                      <td>Chauffeur</td>
                      <td>IPC</td>
                    </tr>
                    <tr>
                      <td>Immatricule du cammion</td>
                      <td>EL433XC</td>
                    </tr>
                    <tr>
                      <td>Airline</td>
                      <td>EXPRESS AIR CARGO</td>
                    </tr>
                    <tr>
                      <td>Vol N°</td>
                      <td>7A111/09</td>
                    </tr>
                    <tr>
                      <td>Chargée à</td>
                      <td>CDG CHARLES DE GAULLE APT/PARIS</td>
                    </tr>
                    <tr>
                      <td>Déchargée à</td>
                      <td>TUN TUNIS</td>
                    </tr>
                    <tr>
                      <td>EUR1 N°</td>
                      <td>7A111/09</td>
                    </tr>
                    <tr>
                      <td>T1</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>LTA</td>
                      <td>23140110</td>
                    </tr>
                    <tr>
                      <td>N° de la facture</td>
                      <td>20180208A</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade bd-SUIVIDOSSIER-modal-lg"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="card card-topline-red">
          <div class="card-head">
            <header>SUIVI DOSSIER</header>
            <div class="tools">
              <a
                class="fa fa-repeat btn-color box-refresh"
                href="javascript:;"
              ></a>
              <a
                class="t-collapse btn-color fa fa-chevron-down"
                href="javascript:;"
              ></a>
              <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
            </div>
          </div>
          <div class="card-body ">
            <div class="table-scrollable">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>Num Dossier</th>
                    <th>Evènement</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Heure</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>35AI800103</td>
                    <td>
                      <img
                        src="assets/img/import/Korawan_M_business12-512.png"
                        style="width: 50px;"
                      />
                    </td>
                    <td>Enlèvement</td>
                    <td>08/02/2018</td>
                    <td>08:45</td>
                  </tr>
                  <tr>
                    <td>35AI800103</td>
                    <td>
                      <img
                        src="assets/img/import/airport-boarding-corridor-passenger-plane-icon-boarding-the-plane-png-512_512.png"
                        style="width: 70px;"
                      />
                    </td>
                    <td>Embarquement</td>
                    <td>09/02/2018</td>
                    <td>12:10</td>
                  </tr>
                  <tr>
                    <td>35AI800103</td>
                    <td>
                      <img
                        src="assets/img/import/order_tracking-512.png"
                        style="width: 60px;"
                      />
                    </td>
                    <td>Mise en livraison</td>
                    <td>09/02/2018</td>
                    <td>19:00</td>
                  </tr>
                  <tr>
                    <td>35AI800103</td>
                    <td>
                      <img
                        src="assets/img/import/Korawan_M_business12-512.png"
                        style="width: 50px;"
                      />
                    </td>
                    <td>Livraison</td>
                    <td>09/02/2018</td>
                    <td>20:30</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Fermer
        </button>
      </div>
    </div>
  </div>
</div>
